INFLUXDB_URL=https://us-east-1-1.aws.cloud2.influxdata.com
INFLUXDB_ORG=a7a2592ed15637b2
INFLUXDB_BUCKET=senseagri-telemetry
AWS_REGION=af-south-1
# AWS creds needed on Vercel (locally uses ~/.aws profile)
# AWS_ACCESS_KEY_ID=
# AWS_SECRET_ACCESS_KEY=
AUTH_SECRET=generate-with-openssl-rand-base64-32
